@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700;800&display=swap');

@media screen and (min-width: 1170px) {

  .hero-backg {
    width: 100%;
    background-repeat: no-repeat;
    background-position-x: 95%, 50%;
    background-position-y: bottom;
    background-size: contain;
    opacity: 1;
    backface-visibility: hidden;
  }


  [dir=rtl] .hero-backg {
    background-position-x: 5%, 50%;
  }

  p {
    font-size: 15px;
  }

}


[dir=rtl] body {
  font-family: 'Cairo', sans-serif;
}

.bg-blured {
  backdrop-filter: blur(40px) brightness(200%);
}

.bg-dark {
  width: 100%;
  @apply bg-darkBg;
}

.btn-main {
  @apply p-4 text-sm font-semibold mx-auto xl:mx-0 text-white mt-12 bg-mainOrange rounded shadow-md border-2 border-none md:text-base;
}

.box-card {
  @apply flex flex-col justify-between my-4 lg:my-0 rounded-sm bg-white p-8 shadow-xl transition-shadow hover:shadow-lg w-[22rem];
}

.gradientOrange {
  background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(250, 171, 24, 1) 0%, rgba(252, 212, 137, 1) 100%);
}

.drive-section {
  height: 60vh;
}

.background-wedeliver {
  background-image: url('../src/assets/images/wedeliver.png');
  background-size: cover;
}

.icon-card {
  border: 3px solid #fbfbfc;
}

.icon-card:hover {
  border-color: #fff !important;
  box-shadow: 0px 30px 80px -30px rgb(193 199 212 / 40%);
  transition: box-shadow 0.3s;
}

.car-gradient-box {
  background: linear-gradient(30deg, var(--paletteColor4, #191919) 32%, var(--paletteColor1, #f9ab1a) 100%) !important;
}

.ficon:hover {
  filter: invert(53%) sepia(38%) saturate(3303%) hue-rotate(326deg) brightness(101%) contrast(96%);
}

.tab {
  @apply -mb-px border-b border-transparent p-4 hover:text-mainOrange;
}

.tab-active {
  @apply border-current text-mainOrange;
}

.content {
  @apply hidden mt-5;
}

.content-active {
  @apply flex justify-center;
}

section {
  @apply px-6 lg:px-20;
}

.category-title {
  @apply font-bold text-gray-900 px-2 lg:px-0 max-[600px]:mt-5 text-left rtl:lg:text-right lg:text-2xl;
}

/* HAMBURGER MENU */

.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  content: '';
  position: absolute;
  width: 24px;
  height: 3px;
  top: 0;
  left: 0;
  background: #fff;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
  background: #fff;
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
  position: relative;
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
  background-color: #fff;
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
  background-color: #fff;
}

/* stepper */

.stepper-wrapper {
  @apply mt-auto lg:flex justify-between mb-5;
}

.stepper-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;

  @media (max-width: 768px) {
      font-size: 12px;
  }
}

.step-name {
  font-size: 16px;
  color: #fff;
  font-weight: 500;
}

.stepper-item.completed::before {
  position: absolute;
  content: "";
  border-bottom: 1px dashed var(#fff);
  width: 100%;
  top: 40px;
  left: -50%;
  z-index: 2;
}

.stepper-item::after {
  position: absolute;
  content: "";
  border-bottom: 1px dashed #fff;
  width: 100%;
  top: 40px;
  left: 50%;
  z-index: 2;
}

@media (max-width: 600px) {
  .stepper-item.completed::before {
    border-bottom: none;
  }
  .stepper-item::after {
    border-bottom: none;
  }
}

[dir=rtl] .stepper-item.completed::before {
  left: 0;
  right: -50%;
}

[dir=rtl] .stepper-item::after {
  left: 0;
  right: 50%;
}

.stepper-item .step-counter {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: #fff;
  border: 7px #f3d09a solid;
  margin-bottom: 6px;
}

.stepper-item.completed .step-counter {
  border: 5px solid var(#ccc);
  background: white;
}

.stepper-item.completed .step-counter img {
  filter: none;
}

.stepper-item:first-child::before {
  content: none;
}

.stepper-item:last-child::after {
  content: none;
}

.from-right span, .from-bottom span, .from-left span {
  display: block;
  opacity: 0;
}

.animated span {
  display: block;
  opacity: 0;
}