@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800&display=swap');

@media screen and (min-width: 1170px) {

  .hero-backg {
    width: 100%;
    /* height: 84vh; */
    background-repeat: no-repeat;
    background-position-x: 95%, 50%;
    background-position-y: bottom;
    background-size: 300px 80vh;
    backface-visibility: hidden;
    animation: slideBg 8s linear infinite 0s;
    background-image: url('../src/assets/images/P4.png');
  }

  [dir=rtl] .hero-backg {
    background-position-x: 5%, 50%;
  }
  
  p {
    font-size: 15px;
  }

  @keyframes slideBg {
    0% {
      background-image: url('../src/assets/images/P1.png');
    }
    25% {
      background-image: url('../src/assets/images/P2.png');
    }
    50% {
      background-image: url('../src/assets/images/P3.png');
    }
    75% {
      background-image: url('../src/assets/images/P4.png');
    }
    100% {
      background-image: url('../src/assets/images/P1.png');
    }
  } 
}
.bg-blured {
  backdrop-filter: blur(40px) brightness(200%);
}

.bg-dark {
  width: 100%;
  @apply bg-darkBg;
}

.gradientOrange {
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(250,171,24,1) 0%, rgba(255,255,255,1) 100%);
}
.drive-section {
  height: 60vh;
}

.background-wedeliver {
  background-image: url('../src/assets/images/wedeliver.png');
  background-size: cover;
}

.icon-card {
  border: 3px solid #fbfbfc;
}
.icon-card:hover {
  border-color: #fff !important;
  box-shadow: 0px 30px 80px -30px rgb(193 199 212 / 40%);
  transition: box-shadow 0.3s;
}
.car-gradient-box {
  background: linear-gradient(30deg,var(--paletteColor4,#191919) 32%,var(--paletteColor1,#f9ab1a) 100%) !important;
}

.ficon:hover {
  filter: invert(53%) sepia(38%) saturate(3303%) hue-rotate(326deg)
    brightness(101%) contrast(96%);
}

/* HAMBURGER MENU */

.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  content: '';
  position: absolute;
  width: 24px;
  height: 3px;
  top: 0;
  left: 0;
  background: #fff;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
  background: #fff;
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
  position: fixed;
  top: 50px;
  right: 25px;
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
  background-color: #fff;
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
  background-color: #fff;
}

